*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Featured Jobs Section */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f7;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
}

header {
    margin-bottom: 40px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
}

header h2, header h1, header p {
    margin: 10px 0;
}

header h2 {
    color: #7c58c1;
}

header h1 {
    font-size: 36px;
}

header p {
    font-size: 18px;
    color: #666;
}

.navigation-buttons {
    display: flex;
}

.nav-button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
}

.nav-button.orange {
    background-color: #ff5722;
    color: #fff;
    border: none;
}

.job-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin: 30px 0;
    height: 750px;
}

.job-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 300px;
    min-height: 250px;
    padding: 20px;
    text-align: left;
    transition: transform 0.3s;
}

.job-card:hover {
    transform: translateY(-10px);
}

.job-card-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.job-card img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-right: 10px;
}

.job-card h3 {
    font-size: 20px;
    margin: 0;
}

.job-card p.date {
    font-size: 14px;
    color: #666;
    margin: 5px 0 0 0;
}

.job-card h4 {
    font-size: 20px;
    margin: 20px 0 10px 0;
}

.job-card .location-type {
    display: flex;
    align-items: center;
    gap: 10px;
}

.job-card .location, .job-card .type {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 100px;
}

.job-card .location {
    background: #ffe6e6;
    border: 1px solid #ff5733;
    color: #ff5733;
}

.job-card .location img {
    width: 16px;
    height: auto;
    margin-right: 5px;
}

.job-card .type {
    background: #f1f1f1;
    color: #333;
}

.see-all {
    margin: 20px 0;
    text-align: center;
}

.see-all button {
    background-color: #7c58c1;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.see-all button:hover {
    background-color: #6a47a5;
}
/* Featured Jobs Section */


/* Jobs Section */
.jobs-container{
    max-width: 1200px;
    margin: auto;
}

.jobs-header-div{
    max-width: 540px;
    margin: auto;
}

.jobs-category{
    font-family: "Poppins" , sans-serif;
    color: #F57343;
    font-size: clamp(10px, 5vw, 16px);
    text-align: center;
    letter-spacing: 0.17rem;
    font-weight: 600;
}

.jobs-subtitle{
    color: #292929;
    font-family: "Montserrat" , sans-serif;
    font-size: clamp(30px, 9vw, 50px);
    text-align: center;
    line-height: clamp(40px, 9vw, 60px);
    letter-spacing: -1px;
}

.jobs-text-div{
    margin: auto;
    max-width: 470px;
}

.jobs-text{
    color: #5B5A62;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: clamp(10px, 9vw, 18px);
    line-height: clamp(20px, 9vw, 28px);
}

.jobs-category-div{
    margin: auto;
    display: flex;
    justify-content: center;
}


#jobs-categories{
    max-width: 1200px;
    display: flex;
    justify-content: center;   
    gap: 60px;
    flex-wrap: wrap;
    flex: 1;
}

.jobs-item{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.jobs-image-div{
    max-width: 75px;
    position: relative;
}

.jobs-background{
    width: 100%;
    object-fit: cover;
}

.jobs-symbol-div{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-90%);
}

.jobs-symbol{
    width: 100%;
}

.jobs-name{
    font-family: "Inter" , sans-serif;
    font-weight: 600;
    font-size: clamp(15px, 5vw, 24px);
    line-height: clamp(20px, 5vw, 34px);
    letter-spacing: -0.52px;
    text-align: center;
}

.jobs-description{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: clamp(10px, 5vw, 18px);
    line-height: clamp(10px, 5vw, 22px);
    letter-spacing: -0.4px;
    text-align: center;
    color:#919098
}

.jobs-underline{
    max-width: 160px;
    margin: 5% auto auto auto;
}

@media (max-width: 780px) and (min-width: 380px) {
    #jobs-categories {
        gap: 10px;
    }

    .jobs-item {
        flex: 0 0 calc(50% - 10px); /*Öğelerin genişliği ayarlanır*/
    }
}

@media (max-width: 300px) {
    .jobs-item {
        flex: 0 0 100%;
    }
}
/* Jobs Section */


/* Testimonial Section */
body {
    margin: 0;
    padding: 0;
}
.swiper {
    width: 1050px;
    min-height: 450px;
}

.testimonial-main-div{
    padding: 0 20px;
}

.testimonial-container{
    margin: auto;
    max-width: 1050px;
}

#testimonials-header{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-align: center;
    color: #0D8772;
}

#testimonial-subtitle{
    font-family: "Montserrat", sans-serif;
    font-size: clamp(35px, 9vw, 50px);
    font-weight: 700;
    line-height: clamp(40px, 9vw, 60px);
    text-align: center;
    color: #292929;
}

.testimonial-contents{
    display: flex;
    justify-content: center;
}
.testimonials-image-div{
    max-width: 350px;
    max-height: 390px;
    border-radius: 200px;
    position: relative;  
    overflow: hidden; 
}

.testimonials-users-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonials-user-description{
    max-width: 480px;
}

.testimonials-userName{
   font-family: "Inter", sans-serif;
   font-size: 22px;
   font-weight: 700;
   line-height: 22px;
   text-align: left;
   color: #292929;
}

.testimonials-department{
    color: #83828A;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
}

.testimonials-text{
    color:#5B5A62;
    font-family: "Inter", sans-serif;
    font-size: clamp(10px, 9vw, 20px);
    font-style: italic;
    font-weight: 500;
    line-height: clamp(20px, 9vw, 36px);
    text-align: left;
}

.testimonials-signature{
    max-width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
}

.testimonials-evaluation-stars, .testimonials-evaluation-designer {
    max-width: 120px;
}

.signature-img{
    width: 100%;
}

.testimonials-evaluation {
    display: flex;
    justify-content: space-between;
}


@media (max-width: 870px) {
    .testimonials-evaluation{
      flex-direction: column;
      align-items: center;
      max-width: 670px;
      min-height: 400px;
      margin-bottom: 10%;
    }

    .testimonials-userName, .testimonials-department{
        text-align: center;
    }

    .testimonials-text{
        text-align: center;
        font-size: clamp(5px, 5vw, 20px);
        line-height: clamp(10px, 5vw, 30px);
    }

    .testimonials-signature{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}
/* Testimonial Section */


/* NewsLetter-Component */
.newslatter-main-div{
    display: flex;
    justify-content: center;
}

.newslatter-background-div{    
    background: url("/images/newsLatterBackground.png");  
    background-position: center;
    background-size: cover;
    min-height: 380px;
    max-width: 1200px;
    flex: 1;
    border-radius: 25px;
    position: relative;
    z-index: 0;
}

.newslatter-object-div{
    top: 80px;
    max-width: 1200px;
    position: absolute;
    z-index: -1;
}

.nl-objects{
    width: 100%;
}

.newslatter-header-div{
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 15px;
}

.newslatter-title{
    color: #BC95F2;
    font-family: "Poppins" , sans-serif;
    font-size: clamp(10px, 3vw, 16px);
    font-weight: 600;
    line-height: clamp(20px, 3vw, 24px);
    letter-spacing: 0.2em;
    text-align: center;
}

.newslatter-subtitle{
    color: #FFFFFF;
    font-family: "Montserrat" , sans-serif;
    font-size: clamp(25px, 7vw, 50px);
    font-weight: 700;
    line-height: clamp(30px, 7vw, 60px);
    letter-spacing: -1px;
    text-align: center;
}

.newslatter-email-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    max-width: 500px;
    width: 100%;
    margin: auto;
}

#newslatter-emailForm {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    background-color: white;
    border-radius: 38px;
    padding: 5px;
}

.nl-email-input {
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 38px;
    font-family: "Poppins" , sans-serif;
    font-size: clamp(10px, 5vw, 14px);
    font-weight: 500;
    line-height: clamp(15px, 5vw, 21px);
    letter-spacing: 0.01em;
    text-align: left;
    color: #A3A2A8;
    background-color: transparent;
    outline: none;    
}

.nl-subscribe-button {
    font-family: "Inter" , sans-serif;
    font-size: clamp(10px, 5vw, 16px);
    font-weight: 600;
    line-height: clamp(15px, 5vw, 20px);
    text-align: center;
    color: #FFFFFF;
    background: #FFB200;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    padding: 20px 30px;
}

.nl-subscribe-button:hover {
    background-color: #e69500;
}


@media (max-width: 520px) {
    .nl-email-input{
        width: 300px;
        padding: 15px;
        font-size: 10px;    
    }

    .nl-subscribe-button {
        border-radius: 20px;
        font-size: 10px;
        padding: 10px 20px;
        max-width: 100px;
        width: 100%;
    }
    
    .newslatter-background-div{    
        min-height: 300px;     
    }
}

@media (max-width: 320px){
    #newslatter-emailForm {
        flex-direction: column;
        gap: 10px;
    }

    .nl-email-input {
        width: 200px;
        padding: 15px;
        font-size: 10px;    
    }

    .nl-subscribe-button {
        border-radius: 20px;
        font-size: 10px;
        padding: 10px 20px;
        position: relative;
    }
}
/* NewsLetter-Component */